<ul class="nav flex-column" id="categories">
   
    <li class="nav-item">
        <a class="nav-link active" href="/admin/profile">
            Profile&nbsp;<i class="fa fa-user"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/#products">All Products
            <i class="fa fa-tag">&nbsp;</i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders
            <i class="fa fa-cart-plus">&nbsp;</i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/upload">Upload
            <i class="fa fa-upload">&nbsp;</i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/login" id="admin-logout">logout
            <i class="fa fa-sign-out-alt">&nbsp;</i></a>
    </li>
</ul>