<div>
    <table class="table table-hover table-stripped table-primary">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Condition</th>
                <th>Model</th>
                <th>Features</th>
                <th>images</th>
            </tr>
        </thead>

        <!-- this will sit in foreach loop -->
        <tbody>
            <tr>
                <td>prductname</td>
                <td>price</td>
                <td>condition</td>
                <td>model</td>
                <td>features in a sentence format</td>
            </tr>
        </tbody>

    </table>
</div>