<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link href="/css/account.css" type="text/css" rel="stylesheet">
    <link href="/css/homepage.css" type="text/css" rel="stylesheet">


</head>

<body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="/"><img src="/images/logo1.jpg" width="50px"
                height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/homeAcc">All Products</a>
                </li>
            </ul>
            <span class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i>logout</a>
            </span>
        </div>
    </nav>
    <div class="row" id="body-content">
        <div class="col-2">
            <ul class="nav flex-column" id="categories">
                <h6 class="lead">Categories</h6>
                <li class="nav-item">
                    <a class="nav-link active"
                        href="/api/account/product/category/Electronics">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/account/product/category/Food items">Food
                        Stuff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/api/account/product/category/Clothings">Clothings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api//account/product/category/Others">Others</a>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h4 id="profile-header">Profile</h4>
            <div class="row">
                <div class="col-md-5">
                    <h6>Personal info</h6>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-8 control-label" for="emai">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="email" value="" id="profilEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-8 control-label" for="profileNumber">Phone number:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" value="" id="profileNumber">
                            </div>
                        </div>
                        <div class="form-group" id="submit-change">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <button class="btn btn-primary btn-sm" id="save-change">Save
                                    Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <h6>Reset Password</h6>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-8 control-label">New-Password:</label>
                            <div class="col-md-8" for="password">
                                <input class="form-control" type="password" value="" id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-8 control-label" for="confirmP">Confirm password:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password" value="" id="confirmP">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button class="btn btn-primary btn-sm" id="reset-password">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <a href="#" class="nav-link"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-pinerest"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-instagram"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="nav-link"><i class="fa fa-twitter"></i></a>
    </footer>
    </div>
    <%- include('../partials/footer'); %>
    <script src="/js/acc_post.js"></script>
</body>

</html>