<div class="card" style="width:100% ">
    <img class="card-img-top" src="<%product.image_one%>" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%=product.productname%></h5>
        <p class="card-text">me</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>